#messege_box {
  margin: auto;
  width: 400px;
  height: 400px;
  overflow: hidden;
  background-color: oldlace;
  text-align: center;
}

#liveAction {
  overflow: hidden;
  margin: 0 auto;
  white-space: nowrap;
  animation: typing 3.5s steps(30, end);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Action buttons styling */
.btn {
  background-color: hsl(200, 100%, 50%);
  border: 1px solid hsl(200, 100%, 30%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
  margin: 10px;
}
#actionButtons {
  width: 200px;
  margin: auto;
}
button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

/* Combat log styling */
#combatLogArea {
  margin: auto;
  width: 400px;
  height: 150px;
  overflow: hidden;
  background-color: #666666;
  text-align: left;
  padding: 0px 10px;
  color: greenyellow;
}
