@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
/*font-family: 'Press Start 2P', cursive;*/

* {
  font-family: "Press Start 2P", cursive;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  margin: 0;
}

/* Main frame styling */
.grid-container {
  display: grid;
  grid-template-columns: 6.5rem 6.5rem 6.5rem 6.5rem 6.5rem 6.5rem 6.5rem 6.5rem 6.5rem 6.5rem;
  grid-template-rows: 6.25rem 6.25rem 6.25rem 6.25rem 6.25rem 6.25rem 6.25rem 6.25rem;
  width: 65rem;
  height: 50rem;
  border: 1px solid #000;
  margin: 0.625rem auto;
}

.player-info-container {
  grid-column: 1 / 4;
  grid-row: 1 / 3;
  size: 100%;
}

.action-buttons {
  grid-column: 1 / 4;
  grid-row: 3 / 9;
}

.vertical-line {
  grid-column: 4 / 4;
  grid-row: 1 / 9;
  width: 1px;
  background: #000;
  z-index: 2;
}

.horizontal-line {
  grid-column: 4 / 11;
  grid-row: 7 / 7;
  width: 100%;
  height: 1px;
  background: #000;
  z-index: 3;
}

.enemy-info-container {
  grid-column: 8 / 11;
  grid-row: 1 / 3;
}

.enemy-character-container {
  grid-column: 9 / 11;
  grid-row: 3 / 7;
}

.player-character-container {
  grid-column: 4 / 6;
  grid-row: 3 / 7;
}

.message-box-container {
  grid-column: 6 / 9;
  grid-row: 3 / 7;
}

.log-area-container {
  grid-column: 4 / 11;
  grid-row: 7 / 11;
}

h2 {
  font-size: 1.563rem;
  text-align: center;
}

/* Action buttons styling */
#actionButtons {
  display: block;
  justify-content: center;
  width: 12.5rem;
  margin: 0px 14.5%;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.btn {
  width: 13.75rem;
  height: 5rem;
  margin-top: 1.25rem;
  font-size: 1.25rem;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  color: #000;
  outline: none;
}

.btn:hover:enabled {
  background-color: rgb(40, 202, 40);
}

#messege_box {
  position: relative;
  margin: 30% auto;
  padding: 0.5rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  font-size: small;
}

#liveAction {
  overflow: hidden;
  margin: 0 auto;
  white-space: nowrap;
  animation: typing 3.5s steps(30, end);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Character styling */
.enemy-character {
  position: absolute;
  width: 13rem;
  height: 20rem;
  margin: 1rem -0.1rem;
}

.hero-character {
  position: relative;
  width: 13rem;
  height: 20rem;
  margin: 1rem -1rem;
}

/* Health bar styling */
.health-bar-player,
.health-bar-enemy {
  position: relative;
  width: 15.625rem;
  height: 1.25rem;
  border: 1px solid #000000;
  border-radius: 20px;
  margin: 0 auto;
}

.health-bar-fill {
  height: 100%;
  background: rgb(40, 202, 40);
  transition: width 0.5s;
  border-radius: 20px;
}

.health-bar-value {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.hp-container-player {
  display: flex;
  justify-content: center;
  padding-bottom: 10.25rem;
}

.hp-container-enemy {
  display: inline-block;
  margin-left: 64%;
}

/* Combat log styling */
#combatLogArea {
  position: relative;
  margin: 1.25rem 11rem;
  padding: 0.625rem 0.938rem;
  width: 18.172rem;
  height: 10.031rem;
  overflow: hidden;
  background-color: #000;
  text-align: left;
  color: #fff;
}

p {
  padding: 0.094rem;
}

.tv {
  position: absolute;
  margin: -0.063rem 9.75rem;
  width: 26rem;
  height: 12.5rem;
}


@media only screen and (min-width: 1280px) and (max-width: 1439px) {
  * {
    font-size: 12px;
  }
}

@media only screen and (min-width: 1007px) and (max-width: 1279px) {
  * {
    font-size: 10px;
  }
}

@media only screen and (min-width: 640px) and (max-width: 1006px) {
  * {
    font-size: 10px;
  }
}

@media only screen and (min-width: 1px) and (max-width: 639px) {
  * {
    font-family: "Press Start 2P", cursive;
    box-sizing: border-box;
    font-size: 10px;
  }

  /* Main frame styling */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100vw;
  height: 100vh;
  border: none;
  margin: 0;
}

.player-info-container {
  grid-column: 7 / 11;
  grid-row: 5 / 8;
  size: 100%;
  margin-top: 3rem;
}

.action-buttons {
  grid-column: 1 / 11;
  grid-row: 9 / 13;
  display: inline-block;
  
}

.vertical-line {
  grid-column: 4 / 4;
  grid-row: 1 / 9;
  width: 1px;
  background: none;
  z-index: 2;
}

.horizontal-line {
  grid-column: 4 / 11;
  grid-row: 7 / 7;
  width: 100%;
  height: 1px;
  background: none;
  z-index: -1;
}

.enemy-info-container {
  grid-column: 1 / 5;
  grid-row: 1 / 4;
  margin-top: 1rem;
}

.enemy-character-container {
  grid-column: 8 / 11;
  grid-row: 1 / 4;
}

.player-character-container {
  grid-column: 1 / 3;
  grid-row: 5 / 8;
}

.message-box-container {
  grid-column: 3 / 9;
  grid-row: 3 / 6;
}

.log-area-container {
  grid-column: 1 / 11;
  grid-row: 8 / 9;
}

h2 {
  font-size: 1.5rem;
  text-align: center;
}

/* Action buttons styling */
#actionButtons {
  display: inline-block;
  justify-content: center;
  width: 12.5rem;
  margin: 0 30%;
  margin-top: 1rem;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.btn {
  width: 13.75rem;
  height: 5rem;
  margin-left: 1rem;
  margin-top: 1.25rem;
  font-size: 1.25rem;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  color: #000;
  outline: none;
}

.btn:hover:enabled {
  background-color: rgb(40, 202, 40);
}

#messege_box {
  position: relative;
  margin: 30% auto;
  padding: 0.5rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  font-size: small;
}

#liveAction {
  overflow: hidden;
  margin: 0 auto;
  white-space: nowrap;
  animation: typing 3.5s steps(30, end);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Character styling */
.enemy-character {
  position: absolute;
  width: 13rem;
  height: 20rem;
  margin: 1rem -0.7rem;
}

.hero-character {
  position: relative;
  width: 13rem;
  height: 20rem;
  margin: 1rem -0.5rem;
}

/* Health bar styling */
.health-bar-player,
.health-bar-enemy {
  position: relative;
  width: 15.625rem;
  height: 1.25rem;
  border: 1px solid #000000;
  border-radius: 20px;
  margin: 1rem;
}

.health-bar-fill {
  height: 100%;
  background: rgb(40, 202, 40);
  transition: width 0.5s;
  border-radius: 20px;
}

.health-bar-value {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.hp-container-player {
  display: inline-block;
  justify-content: right;
  padding-bottom: 0;
  margin: -1rem -3rem;
}

.hp-container-enemy {
  display: inline-block;
  margin-left: 64%;
}

/* Combat log styling */
#combatLogArea {
  position: relative;
  margin: 0;
  padding: 1rem;
  width: 100vw;
  height: 10vh;
  overflow: hidden;
  background-color: #000;
  text-align: left;
  color: #fff;
}

p {
  padding: 0.094rem;
}

.tv {
  display: none;
}