@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
/*font-family: 'Press Start 2P', cursive;*/

* {
  font-family: "Press Start 2P", cursive;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  margin: 0;
}

/* Main frame styling */
.grid-container {
  display: grid;
  grid-template-columns: 6.5rem 6.5rem 6.5rem 6.5rem 6.5rem 6.5rem 6.5rem 6.5rem 6.5rem 6.5rem;
  grid-template-rows: 6.25rem 6.25rem 6.25rem 6.25rem 6.25rem 6.25rem 6.25rem 6.25rem;
  width: 65rem;
  height: 50rem;
  border: 1px solid #000;
  margin: 0.625rem auto;
}

.game-console-container {
  grid-column: 1 / 4;
  grid-row: 1 / 9;
  border: 1px solid #000;
}

.combat-field-container {
  grid-column: 4 / 11;
  grid-row: 1 / 7;
  border: 1px solid #000;
}

.log-area-container {
  grid-column: 4 / 11;
  grid-row: 7 / 9;
  border: 1px solid #000;
}

h2 {
  font-size: 1.563rem;
  text-align: center;
}

/* Action buttons styling */
#actionButtons {
  display: block;
  justify-content: center;
  width: 12.5rem;
  margin: 0px 14.5%;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.btn {
  width: 13.75rem;
  height: 5rem;
  margin-top: 1.25rem;
  font-size: 1.25rem;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  color: #000;
  outline: none;
}

.btn:hover:enabled {
  background-color: rgb(40, 202, 40);
}

#messege_box {
  position: relative;
  margin: 0;
  width: 18.75rem;
  height: 7.5rem;
  overflow: hidden;
  text-align: center;
  font-size: small;
  margin: -25rem 12.5rem;
}

#liveAction {
  overflow: hidden;
  margin: 0 auto;
  white-space: nowrap;
  animation: typing 3.5s steps(30, end);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Character styling */
.enemy-character {
  position: absolute;
  width: 15rem;
  height: 22.625rem;
  margin: 6.25rem 30rem;
}

.hero-character {
  position: relative;
  width: 15rem;
  height: 22.625rem;
  margin: 6.25rem 0rem;
}

/* Health bar styling */
.health-bar-player,
.health-bar-enemy {
  position: relative;
  width: 15.625rem;
  height: 1.25rem;
  border: 1px solid #000000;
  border-radius: 20px;
}

.health-bar-fill {
  height: 100%;
  background: rgb(40, 202, 40);
  transition: width 0.5s;
  border-radius: 20px;
}

.health-bar-value {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.hp-container-player {
  display: flex;
  justify-content: center;
  padding-bottom: 1.25rem;
}

.hp-container-enemy {
  display: inline-block;
  margin-left: 64%;
}

/* Combat log styling */
#combatLogArea {
  position: relative;
  margin: 1.25rem 11rem;
  padding: 0.625rem 0.938rem;
  width: 18.172rem;
  height: 10.031rem;
  overflow: hidden;
  background-color: #000;
  text-align: left;
  color: #fff;
}

p {
  padding: 0.094rem;
}

.tv {
  position: absolute;
  margin: -0.063rem 9.75rem;
  width: 26rem;
  height: 12.5rem;
}

@media only screen and (min-width: 1280px) and (max-width: 1439px) {
  * {
    font-size: 12px;
  }
}

@media only screen and (min-width: 1007px) and (max-width: 1279px) {
  * {
    font-size: 10px;
  }
}

@media only screen and (min-width: 640px) and (max-width: 1006px) {
  * {
    font-size: 10px;
  }
}
